* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

.navbar {
  background-color: #5C60B2;
}

.navbar img.img-responsive {
  border-radius: 50%;
}

#Nav-bar a.navbar-brand {
  color: white;
  margin-left: 50px;
  margin-right: 10px;
}

#Nav-option a.nav-link {
  color: white;
  font-size: 19px;
}

#carouselProductBanner img {
    width: 100%; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
    border: 5px solid #5C60B2;
}

#product div{
	  margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
}

#pre-footer  {
	background-color: #5C60B2;
}

#fb .fb {
	background-color: #5C60B2;
}